:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    font-family: "Red Hat Display", sans-serif;
}

.container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 650px;
    width: 400px;

    display: flex;
    flex-direction: column;

    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

#image-wrapper-hero {
    width: 100%;
    height: 30%;
}

#illustration-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#order-wrapper {
    width: 85%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    text-align: center;
    gap: 10px;
}

#order-wrapper > h3 {
    height: 45px;
    margin-top: 30px;
    color: var(--dark-blue);
}

#order-wrapper > p {
    max-width: 60ch;
    height: 80px;
    line-height: 27px;
    color: var(--desaturated-blue);
    font-weight: 500;
    margin-bottom: 20px;
}

button {
    height: 55px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

#illustration-image {
    height: 100%;
    width: 100%;
}

#charge-wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--very-pale-blue);
    border-radius: 15px;

    margin-bottom: 20px;
}

#change-text {
    height: 30%;
    width: 50%;
    color: var(--bright-blue);
    text-decoration: underline;
}

#change-text:hover {
    text-decoration: none;
    cursor: pointer;
}

#plan-wrapper {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 50px;
}

p {
    font-size: 16px;
}

#image-wrapper-icon {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px
}

#music-icon{
    height: 50px;
    width: 50px;
}

#blue-button {
    background-color: var(--bright-blue);
    color: var(--pale-blue);
    box-shadow: 0px 100px 1000px rgba(0, 0, 0, 0.1);
}

#white-button {
    color: var(--desaturated-blue);
    background-color: white;
}

#plan-text {
    color: var(--dark-blue);
}

#price-text {
    color: var(--desaturated-blue);
    font-weight: 500;
}
/*
    FONT INFO
    
    font-weight: 500, 700, 900

*/
